.selectionImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.selectionImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.selectionText {
    width: 100px;
}